/* Styling the whole service page */
.service-div{
    display: flex;
    flex-direction: column;
    background-color: #E6F4EA;
    /* background-color: #d7435e; */

}



/*  1st Service */
.first-service-div{
    display: flex;
    flex-direction: row;
    border: #5A5A5A solid ;
}

.scrub-image{
    width: 300px;
    height: 300px;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.scrub-detail-div{
    padding-left: 300px;
}

.scrub-detail-title-div{
    text-align: center;
}


.scrub-detail-bulletpoint-div{
    padding-left: 70;
    padding-right: 80px;
    padding-bottom: 20px;
    
}

.scrub-detail-bulletpoint-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.scrub-detail-bulletpoint-list-item{
    font-size: 20px;
    font-weight: 600;
}

.scrub-detail-pricing-div{
    width: 700px;
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
}










/* 2nd Service */
.second-service-div, .forth-service-div{
    display: flex;
    flex-direction: row;
    border: #5A5A5A solid ;
}



.body-wraps-image, .post-surgery-care-image{
    width: 300px;
    height: 300px;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.body-wraps-detail-div, .post-surgery-care-detail-div{
    padding-left: 300px;
}

.body-wraps-detail-title-div, .post-surgery-care-detail-title-div{
    text-align: center;
}

.body-wraps-detail-bulletpoint-div, .post-surgery-care-detail-bulletpoint-div{
    padding-left: 70;
    padding-right: 80px;
    padding-bottom: 20px;
}

.body-wraps-detail-bulletpoint-list, .post-surgery-care-detail-bulletpoint-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body-wraps-detail-bulletpoint-list-item, .post-surgery-care-detail-bulletpoint-list-item{
    font-size: 20px;
    font-weight: 600;
}

.body-wraps-detail-pricing-div, .post-surgery-care-detail-pricing-div{
    width: 700px;
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
}






