.service-div{
    display: flex;
    flex-direction: row;
    background-color: #E6F4EA;

}

.scrub-image{
    width: 300px;
    height: 300px;
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.scrub-detail-div{
    padding-left: 300px;
}

.scrub-detail-title-div{
    text-align: center;
}


.scrub-detail-bulletpoint-div{
    padding-left: 70;
    padding-right: 80px;
    padding-bottom: 20px;
    
}

.scrub-detail-bulletpoint-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.scrub-detail-pricing-div{
    width: 700px;
    display: flex;
    gap: 50px;
}